{% load static %}
<!DOCTYPE html>
<html lang="en">
  {% include "adminlte/header.html" %}
  {%block styles%}{%endblock%}
<body class="hold-transition sidebar-mini layout-fixed">
  <div class="wrapper">

    {% include "adminLTE/preloader.html" %}
    {% include "adminLTE/navbar.html" %}
    {% include "adminLTE/sidebar.html" %}
    
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0">{% block title%}{% endblock %}</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                {% block paths %}{% endblock %}
              </ol>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->

      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          {% block body %}
          {% endblock %}
        </div><!-- /.container-fluid -->
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    {% include "adminLTE/footer.html" %}
  </div>
  <!-- ./wrapper -->
  {% include "adminLTE/scripts.html" %}
  {%block scripts%}{%endblock%}
</body>
</html>
