{%load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard Decodificadores</title>
    {%include 'adminLTE/styles.html' %}
</head>