{% extends "adminlte/base.html" %}
{% load static %}
{% block title %} Dashboard modificado {% endblock %}
{% block paths %}
    <li class="breadcrumb-item active">
        <a href="{% url 'index' %}">Home</a>
    </li>
{% endblock %}
{% block body %}
    <h2>h</h2>
{% endblock %}