{% extends "adminLTE/base.html" %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="//cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
{% endblock %}
{% block title %} Decodoficiadores de sensores tipo 7 - Agua {% endblock %}
{% block classActiveF %}active{% endblock %}
{% block paths %}
    <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
    <li class="breadcrumb-item active">Lista</li>
{% endblock %}
{% block body %}
    <div class="row justify-content-end">
        <div class="col-2 m-3">
            <button id="addDecoder" type="button" class="btn-sm btn-primary btn-block" data-toggle="modal" data-target="#decoderModal">
                <i class="fa fa-plus m-1 "></i>Crear Nuevo Oido
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table id="table_decoders" class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Dev Eui</th>
                        <th>Application ID</th>
                        <th>Ip Servidor</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>

    {# {%include 'adminlte/modal.html' with idModal="createModal" titleModal="Crear nuevo oido" bodyModal="" txtButtonClose="Cerrar" txtButtonSave="Guardar" %} #}
 
<form id="formDecoder">
 <div class="modal fade" id="decoderModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="title-modal-decoder" >Registrar nuevo decodificador</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            {% csrf_token %}
            <div class="form-group">
                <label for="txtName">Nombre:</label>
                <input type="text" class="form-control" name="name" id="id_name" placeholder="Ingrese el nombre" required>
            </div>
            <div class="form-group">
                <label for="txtDevEui">DevEui:</label>
                <input type="text" class="form-control" name="dev_eui" id="id_dev_eui" placeholder="Ingrese el DevEui" required>
            </div>
            <div class="form-group">
                <label for="txtApplicationID">ApplicationID:</label>
                <input type="text" class="form-control" name="application_id" id="id_application_id" placeholder="Ingrese el ID de la aplicacion" required> 
            </div>
            <div class="form-group">
                <label for="txtIPServer">IP:</label>
                <input type="text" class="form-control" name="ip_server" id="id_ip_server" placeholder="Ingrese la ip del servidor" required>
            </div>
            <div class="form-group">
                <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                    <input type="checkbox" class="custom-control-input" name="state" id="id_state">
                    <label class="custom-control-label" for="id_state">Estado</label>
                </div>
            </div>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
</form>

<div class="modal fade" id="infoModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="info-title">Información de - </h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="info-body">

        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
</div>

{% endblock %}
{%block scripts%}
<script src="//cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">

    function clearForm() {
        $('#formDecoder')[0].reset()
        $('#id_name').attr('value', '')
        $('#id_application_id').attr('value', '')
        $('#id_dev_eui').attr('value', '')
        $('#id_ip_server').attr('value', '')
        $('#id_state').attr('checked', false)
    }

    function showDetails(id) {
        $.ajax({
            type: "GET",
            url: `get_decoder/${id}/`,
            data: "data",
            dataType: "JSON",
            success: function (response) {
                $('#info-title').html(`Información de ${response.data.name}`)
                let state = response.data.state == true ? '<span class="badge badge-success">Encedido</span>' : '<span class="badge badge-danger">Apagado</span>'
                $('#info-body').html(
                    `
                    <div class="row">
                        <div class="col-6">
                            <p class="font-weight-bold">Nombre: </p>
                            <p>${response.data.name}</p>
                        </div>
                        <div class="col-6">
                            <p class="font-weight-bold">Applicación ID: </p>
                            <p>${response.data.application_id}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <p class="font-weight-bold">Dev EUI: </p>
                            <p>${response.data.dev_eui}</p>
                        </div>
                        <div class="col-6">
                            <p class="font-weight-bold">IP del Servidor: </p>
                            <p>${response.data.ip_server}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <p class="font-weight-bold">Dirección del archivo: </p>
                            <p>${response.data.path}</p>
                        </div>
                        <div class="col-6">
                            <p class="font-weight-bold">Usuario: </p>
                            <p>${response.data.user}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <p class="font-weight-bold">Estado: </p>
                            <p>${state}</p>
                        </div>
                    </div>
                    `
                );
                $('#infoModal').modal('show');
            },
            error: function(response) {
                Swal.fire({
                    position: 'center',
                    icon: 'error',
                    title: response.msg,
                    showConfirmButton: false,
                    timer: 1500
                })
            }
        });
    }

    function updateModal(id) {
        $.ajax({
            type: "POST",
            url: `decoder/update/${id}/`,
            data : $("#formDecoder :input").serializeArray(),
            dataType: "json",
            success: function (data) {
                Swal.fire({
                    position: 'center',
                    icon: 'success',
                    title: data.message,
                    showConfirmButton: false,
                    timer: 1500
                }).then(()=>{
                    $('#table_decoders').DataTable().ajax.reload();
                    $('#decoderModal').modal('hide')
                    clearForm()
                })
            },
            error: function (response) {
                Swal.fire({
                    position: 'center',
                    icon: 'error',
                    title: response.message,
                    showConfirmButton: false,
                    timer: 1500
                })
            }
        });
    }

    function getModalEdit(id) {
        clearForm()
        $.ajax({
            type: "GET",
            url: `get_decoder/${id}/`,
            data: "data",
            dataType: "JSON",
            success: function (response) {
                $('#title-modal-decoder').html(`Edición de ${response.data.name}`)
                //ADD VALUE INPUTS
                $('#id_name').attr('value', response.data.name)
                $('#id_dev_eui').attr('value', response.data.dev_eui)
                $('#id_application_id').attr('value', response.data.application_id)
                $('#id_ip_server').attr('value', response.data.ip_server)
                $('#id_state').attr('checked', response.data.state)
                //UPDATE
                $('#formDecoder').unbind('submit');
                $('#formDecoder').on('submit',function(e){
                    e.preventDefault();
                    updateModal(id);
                })
                $('#decoderModal').modal('show');
            },
            error: function(response) {
                Swal.fire({
                    position: 'center',
                    icon: 'error',
                    title: response.msg,
                    showConfirmButton: false,
                    timer: 1500
                })
            }
        });
    }

    function deletePayload(id) {
        Swal.fire({
            title: '¿Desea eliminar el decodificador?',
            text: "¡No se podra revertir esta acción!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: '¡Si, eliminar!'
          }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    type: "POST",
                    url: `delete_decoder/${id}/`,
                    data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
                    dataType: "JSON",
                    success: function (response) {
                        $('#table_decoders').DataTable().ajax.reload();
                        Swal.fire({
                            position: 'center',
                            icon: 'success',
                            title: response.message,
                            showConfirmButton: false,
                            timer: 1500
                        })
                    },
                    error: function(response) {
                        Swal.fire({
                            position: 'center',
                            icon: 'error',
                            title: response.msg,
                            showConfirmButton: false,
                            timer: 1500
                        })
                    }
                });
            }
        })
    }

    $(document).ready(function () {
        $('#addDecoder').click(function (e) { 
            e.preventDefault();
            clearForm()
            $('#title-modal-decoder').html('Registrar nuevo decodificador')
            $('#formDecoder').unbind('submit');
            $('#formDecoder').on('submit', function(e) {
                e.preventDefault()
                $.ajax({
                    type: "POST",
                    url: "decoder/store",
                    data : $("#formDecoder :input").serializeArray(),
                    dataType: "json",
                    success: function (data) {
                        Swal.fire({
                            position: 'center',
                            icon: 'success',
                            title: data.message,
                            showConfirmButton: false,
                            timer: 1500
                        }).then(()=>{
                            $('#table_decoders').DataTable().ajax.reload();
                            $('#decoderModal').modal('hide')
                        })
                    },
                    error: function (response) {
                        Swal.fire({
                            position: 'center',
                            icon: 'error',
                            title: response.message,
                            showConfirmButton: false,
                            timer: 1500
                        })
                    }
                });
            });
        });

        var tableDecoder = $('#table_decoders').DataTable({
            "language": {
                "sProcessing":    "Procesando...",
                "sLengthMenu":    "Mostrar _MENU_ registros",
                "sZeroRecords":   "No se encontraron resultados",
                "sEmptyTable":    "Ningún dato disponible en esta tabla",
                "sInfo":          "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty":     "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered":  "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix":   "",
                "sSearch":        "Buscar:",
                "sUrl":           "",
                "sInfoThousands":  ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst":    "Primero",
                    "sLast":    "Último",
                    "sNext":    "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                }
            },
            "ajax": {
                url: "list_decoder",
                dataSrc: 'data'
            },
            "columns": [
                {"data": "name"},
                {"data": "dev_eui"},
                {"data": "application_id"},
                {"data": "ip_server"},
                {"data": "state", render: function(data,type,row,meta){
                    if(data == true) {
                        return '<span class="badge badge-success">Encedido</span>'
                    } else {
                        return '<span class="badge badge-danger">Apagado</span>'
                    }
                }},
                {"data": "id", render: function(data, type, row, meta){
                    return `
                        <button onclick="showDetails(${data})" type="button" class="btn-sm btn-info">
                            <i class="fa fa-info m-1 "></i>
                        </button>
                        <button onclick="getModalEdit(${data})" type="button" class="btn-sm btn-warning">
                            <i class="fa fa-edit m-1 "></i>
                        </button>
                        <button onclick="deletePayload(${data})" type="button" class="btn-sm btn-danger">
                            <i class="fa fa-trash m-1 "></i>
                        </button>
                    `
                }}
            ],
            "pageLength": 10
        });

    });
</script>
{%endblock%}