{% include "adminLTE/styles.html" %}

<div class="modal fade" id="{{ idModal }}">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">{{ titleModal }}</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            {{ bodyModal }}
        </div>
        <div class="modal-footer justify-content-between">
            <button type="button" class="btn btn-default" data-dismiss="modal">{{ txtButtonClose }}</button>
            <button type="button" class="btn btn-primary">{{ txtButtonSave }}</button>
        </div>
        </div>
    </div>
</div>